{% extends "base.html" %}

{% block title %}Products{% endblock %}
{% block body %}
{% load static %}

<section class="products">
    <h1 class="text-center mb-5">Products</h1>
    <div class="container">
        <div class="row">
            {% for p in products %}
            <div class="col-3">
                <a href="{% url 'product' p.id  %}"><img src="{% static p.profile_pic.url %}" alt="not found"/></a>
                <a href="{% url 'product' p.id  %}"><p class="mt-3">{{p.name}}</p></a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

